/* TODO remove this block */
#app {
    width: 700px;
    float: right;
}

.image-container {
    position: relative;
    width: 97%;
}

.image {
    max-height: 100%;
    width: 100%;
    border: 1px black solid;
}

.overlay-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.small-button {
    min-width: 36px;
}

.popup {
    position: absolute;
    z-index: 99;
    padding: 15px;
    background-color: white;
    border: 5px black solid;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.submit-section {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.grayed-out {
    opacity: .5;
}

.hide {
    display: none;
}

.center {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 800;
}
