.wordsearch .grid {
    width: 100%;
    height: calc(100vh - 400px);
}

.wordsearch .wordbank {
    width: 100%;
    height: 150px;
}

.wordsearch .output {
    height: calc(100vh - 150px);
    overflow: scroll;
}

.wordsearch .output .link {
    display: inline-flex;
    font-family: monospace;
    border: solid 3px transparent;
    border-radius: 0;
    margin: 2px;
    padding: 3px 5px;
    width: 180px;
}

.wordsearch .output .link.in-wordbank {
    border-color: #fbdfa3;
}

.wordsearch .hovering {
    background-color: #cccccc;
}

.wordsearch .grid .in-wordbank {
    background-color: #fbdfa3;
}

.wordsearch .in-wordbank.hovering {
    background-color: #f9ce70;
}

.wordsearch .input table td {
    text-align: center;
    font-family: monospace;
    font-size: 17px;
    height: 20px;
    width: 20px;
}

.wordsearch .unused {
    font-family: monospace;
    width: 400px;
}